<h1> Edit an existing Posting </h1>

<%= form_tag "/postings/#{@posting.id}", method: :patch do %>
  <div>
    <%= label_tag :name %>
    <%= text_field_tag :name, @posting.name %>
  </div>
   <div>
    <%= label_tag :price %>
    <%= text_field_tag :price, @posting.price %>
  </div>
  <div>
    <%= label_tag :description %>
    <%= text_field_tag :description, @posting.description %>
  </div>
  <%= submit_tag "Edit Posting" %>
<% end %>

<a href="/postings"> Click to go back to homepage </a>
